{% extends 'gym_admin/base.html' %}

{% block contenido %}
    <h1>Bienvenido</h1>
    <button><a href="{% url 'gym_list' %}">Ver Gimnasios</a></button>
    <button><a href="{% url 'gym_form' %}">Cargar Gimnasios</a></button>

    <button><a href="{% url 'gymbro_list' %}">Ver GymBros</a></button>
    <button><a href="{% url 'gymbro_form' %}">Cargar GymBros</a></button>

    <button><a href="{% url 'turno_list' %}">Ver Turnos</a></button>
    <button><a href="{% url 'turno_form' %}">Cargar Turnos</a></button>

    <button><a href="{% url 'entrenamiento_list' %}">Ver Entrenamientos</a></button>
    <button><a href="{% url 'entrenamiento_form' %}">Cargar Entrenamientos</a></button>

    <button><a href="{% url 'plan_list' %}">Ver Planes</a></button>
    <button><a href="{% url 'plan_form' %}">Cargar Planes</a></button>

    <button><a href="{% url 'rutina_list' %}">Ver Rutinas</a></button>
    <button><a href="{% url 'rutina_form' %}">Cargar Rutinas</a></button>

    <button><a href="{% url 'plangymbro_list' %}">Ver Plan de GymBro</a></button>
    <button><a href="{% url 'plangymbro_form' %}">Cargar Plan de GymBro</a></button>


{% endblock contenido %}