{% extends 'gym_admin/base.html' %}

{% block content %}
    
    {% for gymbroporturno in PlanesGymBro %}
        <ul>
            <li>
                {{gymbroporturno.turno}}
                {{gymbroporturno.gymbro}}
                {{gymbroporturno.entrenamiento}}
                {{gymbroporturno.plan}}
                {{gymbroporturno.rutina}}
            </li>
        </ul>
    {% endfor %}
    <button><a href="{% url 'plangymbro_form' %}">Cargar Plan de GymBro</a></button>
{% endblock content %}